<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/' | append: page.theme | append: '.css' | relative_url }}">
  </head>
  
  <body>
    <header>
      <a href="{{ '/' | relative_url }}">Tiffany Fields</a>
    </header>
    
    <nav>
      {% include navigation.html %}
    </nav>    
    
    <article>
      <h1>{{ page:title }} H1 tag</h1>
      {{ content }}
    </article>
    
  </body>
  
</html>
