<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/' | append: page.theme | append: '.css' | relative_url }}">
  </head>
  
  <body>
    <h1>{{ page.title }} H1 TAG </h1>
    
    {% include navigation.html %}
    
    <header>{{ page.title }} HEADER TAG </header>
    
    <article>
      {{ content }}
    </article>
    
    {% include footer.html %}
  </body>
  
</html>
